@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');

.cancel-button {
display: inline-block;
margin-left: 20px;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.cancel-button:hover{
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation:slidebg 5s linear infinite;
 }

.reviews{
    color: #0000b8;
    font-weight: bold;
    
}

.review-header {
    margin-bottom: .5em;
    font-family: 'Rubik', sans-serif;
    font-size: 4rem;
}
    
    .review-header {
    position: relative;
    background: linear-gradient(to right, #000052, #0000b8, #0000ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
    
    .review-header:before,
    .review-header:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0; }
    

.review-item {
    color: white; 
    font: 42px Helvetica, Arial, Sans-Serif;
    text-shadow: 1px 1px #fe4902, 
                 2px 2px #fe4902, 
                 3px 3px #fe4902;
    -webkit-transition: all 0.12s ease-out;
    -moz-transition:    all 0.12s ease-out;
    -ms-transition:     all 0.12s ease-out;
    -o-transition:      all 0.12s ease-out;
}

.review-item:hover {
    position: relative; 
    top: -3px; 
    left: -3px; 
    text-shadow: 1px 1px #fe4902, 
                 2px 2px #fe4902, 
                 3px 3px #fe4902, 
                 4px 4px #fe4902, 
                 5px 5px #fe4902, 
                 6px 6px #fe4902;
 }

 li.repeating-counter-rule {
    text-align: left;
 }
 ul.single-counter-rule > li:nth-child(1) {
    margin-top: 10px;
    list-style: "🕔 ";
    list-style-position: outside;
  }

 